<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Casa do Codigo - Home</title>
</head>
<body>
  <h1>Home</h1>
</body>
</html>
<script scr"/socket.io/socket.io.js"></script>
<script>
  const socket = io()
  socket.on('novaPromocao', (promocao)=> {
    alert('OI')
  })
</script>
