<% include ../includes/header.ejs %>

<main class="container">
  <h1>Promoção cadastrada com sucesso!</h1>

  <ul>
    <li><strong>Título: </strong><%= promocao.livro.titulo %></li>
    <li><strong>Mensagem: </strong><%= livro.msg %></li>
    <!--<li><strong>Data: </strong><%= livro.data %></li>-->
  </ul>

</main>

<% include ../includes/footer.ejs %>
